## QUESTION 1: Extracting Tesla Stock Data Using yfinance

In [1]:
import yfinance as yf
import pandas as pd

In [4]:
ticker_symbol = 'TSLA'


tesla_data = yf.download(ticker_symbol, start="2010-01-01", end="2024-08-14")

[*********************100%***********************]  1 of 1 completed

In [48]:
tesla_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

# Question 2 - Extracting Tesla Revenue Data Using Webscraping

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [44]:



response = requests.get(url)

if response.status_code == 200:
    print("Successfully fetched the webpage!")
else:
    print(f"Failed to fetch the webpage. Status code: {response.status_code}")

Failed to fetch the webpage. Status code: 403

In [30]:
soup = BeautifulSoup(response.text, 'html.parser')

In [35]:

rows = soup.find_all('tr')

## QUESTION 3: Extracting GameStop Stock Data Using yfinance

In [49]:

ticker_symbol = 'GME'

# Get the data
gamestop_data = yf.download(ticker_symbol, start="2010-01-01", end="2024-08-14")

gamestop_data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04 00:00:00-05:00,5.5175,5.7375,5.5000,5.7250,3.854643,26702800
2010-01-05 00:00:00-05:00,5.7275,5.9350,5.7250,5.8800,3.959006,21269600
2010-01-06 00:00:00-05:00,5.8650,6.0250,5.8050,6.0075,4.044851,21471200
2010-01-07 00:00:00-05:00,5.0025,5.2925,4.8550,5.1150,3.443930,164761200
2010-01-08 00:00:00-05:00,5.1600,5.3075,5.0575,5.0725,3.415315,47872400

## QUESTION 4: Extracting GameStop Revenue Data Using Webscraping

In [47]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

response = requests.get(url)
if response.status_code == 200:
    print("Successfully fetched the webpage!")
else:
    print(f"Failed to fetch the webpage. Status code: {response.status_code}")

Failed to fetch the webpage. Status code: 403

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')

# Question 5 - Tesla Stock and Revenue Dashboard